<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mdt">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MDT"
        tools:targetApi="31">
        <activity
            android:name=".Magnometer"
            android:exported="false" />
        <activity
            android:name=".Pressure"
            android:exported="false" />
        <activity
            android:name=".Temperature"
            android:exported="false" />
        <activity
            android:name=".Orientation"
            android:exported="false" />
        <activity
            android:name=".Proximity"
            android:exported="false" />
        <activity
            android:name=".Gravity"
            android:exported="false" />
        <activity
            android:name=".Rotation"
            android:exported="false" />
        <activity
            android:name=".Light"
            android:exported="false" />
        <activity
            android:name=".Accelrometer"
            android:exported="false" />
        <activity
            android:name=".DisplayInfo"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/style" />

        <activity
            android:name=".Sound"
            android:exported="false"
            android:label=""
            android:parentActivityName=".Subodh" />
        <activity
            android:name=".Sensors"
            android:exported="false"
            android:label=""
            android:parentActivityName=".Subodh" />
        <activity
            android:name=".System"
            android:exported="false"
            android:label=""
            android:parentActivityName=".Subodh" />
        <activity
            android:name=".Hardware"
            android:exported="false"
            android:label=""
            android:parentActivityName=".Subodh" />
        <activity
            android:name=".Camera"
            android:exported="false"
            android:label=""
            android:parentActivityName=".Subodh" />
        <activity
            android:name=".Calllog"
            android:exported="false"
            android:label=""
            android:parentActivityName=".Subodh" />
        <activity
            android:name=".Battery"
            android:exported="false"
            android:label=""
            android:parentActivityName=".Subodh" />
        <activity
            android:name=".Subodh"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>